/* Selector for the navbar */
.navbar {
  background-color: #f72210;
  height: 50px;
}

/* Selector for the newsweek logo at the navbar */
.newsweek-nav-logo {
  width: 132px;
  height: 20px;
}

/* Selector for the sign in anchor at the navbar */
.navbar-text {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

/* Selector for the sign in anchor at the navbar when hovering */
.navbar-text:hover {
  text-decoration: none;
  color: white;
}

/* Selector for the subscribe anchor at the navbar */
.subscribe-navbar {
  background-color: white;
  color: #f72210;
  padding: 6px 3px;
}

/* Selector for the subscribe anchor at the navbar when hovering*/
.subscribe-navbar:hover {
  color: #f72210;
}

/* Selector for the right arrow at the navbar */
.right-arrow {
  position: relative;
  bottom: 1px;
  display: none;
}

/* Selector for the menu icon at the navbar */
.menu-icon-navbar {
  width: 24px;
}

/* Selector for the date located at the navbar*/
.navbar-date {
  font-size: 16px;
  margin-left: 10px;
  font-weight: 100;
}

/*==============================================================================
MEDIA QUERIES FOR ABOVE 360px
==============================================================================*/
@media (min-width: 360px) {
  /* Selector for the sign in anchor at the navbar */
  .navbar-text {
    font-size: 14px;
  }

  /* Selector for the sign in anchor at the navbar */
  .navbar-text {
    position: relative;
    right: 8px;
  }
}

/*==============================================================================
MEDIA QUERIES FOR ABOVE 500px
==============================================================================*/
@media (min-width: 500px) {
  /* Selector for the sign in anchor at the navbar */
  .navbar-text {
    font-size: 18px;
    padding: 0 10px;
    right: 16px
  }

  /* Selector for the sign in anchor at the navbar */
  .navbar-sign-in {
    right: 12px;
  }

  /* Selector for the right arrow at the navbar */
  .right-arrow {
    display: inline-block;
  }

  /* Selector for the menu icon at the navbar */
  .menu-icon-navbar {
    width: 50px;
  }
}

/*==============================================================================
MEDIA QUERIES FOR ABOVE 992px
==============================================================================*/
@media (min-width: 992px) {
  /* Selector for the navbar */
  .navbar {
    height: 95px;
  }

  /* Selector for the newsweek logo at the navbar */
  .newsweek-nav-logo {
    width: 396px;
    height: 60px;
  }
}